{% block 'mainbody' %}
<div class="navbar-fixed" style="position: relative;"> 

 


  <nav  class="teal ">
      <div class="nav-wrapper">
          <a href="/" class="brand-logo" style="padding-left: 10px;">Packer Tracker</a>
          <!-- <a href="/" class="brand-logo"><i style="font-size: 50px;" class="large material-icons">network_check</i></a> -->
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">DB Operations<i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a target="_blank"  href="/admin/root/rigtable/">Admin Panel <i class="material-icons right">person_pin</i> </a></li> 
              <li><a  class=" modal-trigger" href="#modal4"  >Info  <i class="material-icons right">info_outline</i></a></li> 
              <li><a  class=" modal-trigger" href="#modal1"  >Add RIG  <i class="material-icons right">add</i></a></li> 
              <li><a  class=" modal-trigger" href="#modal3"  >Upload File <i class="material-icons right">upload</i></a></li> 
              <li><a  href="/charts"  >Go to Charts <i class="material-icons right">insert_chart</i></a></li> 
        

              
            
               
             
           </ul>
      </div>
    </nav>
</div>
 










 










{% endblock 'mainbody' %}


{% block 'js' %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, {
      'Sidenav':true,
      
    });
    })
</script>
{% endblock 'js' %}





























